@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-text: #24303e;
    --grey: #808397;

    --green-text: #458d7e;
    --green-background: #90d4c6;

    --blue-text: #052c3b;
    --blue-background: #4abdf2;

    --yellow-background: #f8d800;

    --red-background: #ff7060;
}

html {
    font-size: 62.5%;
    color: var(--main-text);
    background: linear-gradient(to bottom, #4abdf2, #90d4c6);
    background-color: var(--blue-background);
}

body {
    background: linear-gradient(to bottom, #4abdf2, #90d4c6);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* background-color: #fff;d */
}
