@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text: #24303e;
  --grey: #808397;

  --green-text: #24554a;
  --green-background: #90d4c6;

  --blue-text: #052c3b;
  --blue-background: #4abdf2;

  --yellow-background: #f8d800;

  --red-background: #ff7060;
}
